<!DOCTYPE html>
<html>
  <head>
    <title>MewTubu</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.userpng = "<%= image_url('user1.png') %>";
      window.filespng = "<%= image_url('files.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
